.sectionHeader {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 26px;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
}
.deltaPassengersMissing {
  margin-bottom: 10px;
}
.deltaPassengersMissingDog {
  margin: 0;
  padding-left: 24px;
}
.stories {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-inherit);
  line-height: 20px;
  font-weight: 400;
  font-family: var(--font-inherit);
  color: var(--color-black);
}
.newsSection {
  width: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-11xs);
  text-align: left;
  font-size: 16px;
  color: #818181;
  font-family: var(--font-averia-serif-libre);
}
